/* add fonts
-------------*/
@font-face {
  font-family: 'Nirmala Regular';
  src: url('../fonts/nirmala-regular.ttf');
  src: local('nirmala-regular'), local('nirmala-regular'),
  url('../fonts/nirmala-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nirmala Bold';
  src: url('../fonts/nirmala-bold.ttf');
  src: local('nirmala-bold'), local('nirmala-bold'),
  url('../fonts/nirmala-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nirmala Semilight';
  src: url('../fonts/nirmala-semilight.ttf');
  src: local('nirmala-semilight'), local('nirmala-semilight'),
  url('../fonts/nirmala-semilight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* style general
-----------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.65;
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrap, .header-navigation, .header-logo, .block-header-search, .browse-category > p, .header-search,
.header-menu, .authors > ul > li, .books-of-the-year > ul > li, .block-filter, .filter-genre, .slider-navigation,
.button-see {
  display: flex;
  flex-direction: row;
}

.authors > ul, .books-of-the-year > ul, .block-filter > p, .block-list-books > ul > li {
  display: flex;
  flex-direction: column;
}

.header-navigation, .block-header-search, .block-filter, .slider-navigation {
  justify-content: space-between;
  align-items: center;
}

.header-logo, .button-see {
  justify-content: center;
  align-items: center;
}

.browse-category > p, .authors > ul > li, .block-filter > p {
  justify-content: flex-start;
  align-items: center;
}

.header-search, .header-menu {
  justify-content: flex-end;
  align-items: center;
}

.authors > ul, .books-of-the-year > ul, .books-of-the-year > ul > li {
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-genre, .block-list-books > ul > li {
  justify-content: flex-end;
  align-items: flex-start;
}

.wrap {
  justify-content: center;
  align-items: flex-start;
}

  /* style header
  -----------------*/
.header {
  max-width: 1350px;
  height: 80px;
  margin: 0 auto;
  background-color: #f2f5f7;
}

.header-navigation {
  width: calc(100% - 90px);
  height: 80px;
  padding: 0 45px;
  background-color: white;
}

.block-header-search {
  width: 320px;
  height: 80px;
}

.browse-category {
  width: 160px;
  height: auto;
  border-right: 1px solid #c2c7cb;
}

.browse-category > p {
  font-size: 15.87px;
  color: #868f98;
  font-family: "Nirmala Regular", sans-serif;
  cursor: pointer;
}

.browse-category > p:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url("../img/icons/icon-3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 3px;
  right: -12px;
}

.header-search {
  width: 100px;
  height: 25px;
}

.header-search::placeholder {
  color: #c2c4c5;
  font-size: 15.87px;
  font-family: "Nirmala Regular", sans-serif;
}

.header-logo {
  width: auto;
  height: 80px;
  margin-left: -100px;
}

.header-logo > p {
  font-size: 22.43px;
  color: #3a4752;
  text-align: center;
  font-family: "Nirmala Regular", sans-serif;
}

.header-logo > p:first-child {
  font-weight: 100;
}

.header-logo > p:last-child {
  font-weight: bold;
}

.header-menu {
  width: auto;
  height: 25px;
  padding-left: 35px;
  border-left: 1px solid #c2c7cb;
  cursor: pointer;
}

.header-menu > p {
  font-size: 15.88px;
  color: #868f98;
  font-family: "Nirmala Regular", sans-serif;
  margin-left: 13px;
}

.header-slider {
  max-width: 1350px;
  margin: 0 auto;
}

.header-slider, .header-slider > ul {
  width: 100%;
  height: 405px;
  position: relative;
  overflow: hidden;
}

.header-slider > ul {
  width: 99999px;
  transition: 1s;
}

.slide {
  width: 620px;
  height: 405px;
  float: left;
  position: relative;
}

.slide-1 > div {
  background-color: #f9b5b6;
}

.slide-2 > div {
  background-color: #e7b0cf;
}

.slide-3 > div {
  background-color: #a5e0eb;
}

.slide > img {
  width: 240px;
  height: 365px;
  position: absolute;
  top: 40px;
  left: 45px;
  z-index: 10;
  -webkit-box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
  box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
}

.slider-block-info {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.slider-block-info > div {
  width: 270px;
  height: 265px;
  margin-right: 35px;
  position: relative;
}

.button-see {
  width: 235px;
  height: 40px;
  border-radius: 20px;
  background-color: #f5e6ee;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16.43px;
  font-family: "Nirmala Bold", sans-serif;
}

.slide-1 > .slider-block-info > div > .button-see {
  color: #cf5759;
}

.slide-2 > .slider-block-info > div > .button-see {
  color: #a05f83;
}

.slide-3 > .slider-block-info > div > .button-see {
  color: #4e6c70;
}

.slider-navigation {
  width: calc(100% - 60px);
  height: 65px;
  position: absolute;
  top: 170px;
  left: 0;
  padding: 0 30px;
  cursor: pointer;
  z-index: 9999;
}

.slider-navigation > img {
  border-radius: 100%;
  -webkit-box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
  box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
}

.slider-navigation > img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

/* style content-sidebar
-----------------------*/
.content-sidebar {
  width: 100%;
  height: auto;
  background-color: #f2f5f7;
}

.content-sidebar > .wrap {
  max-width: 1260px;
  height: auto;
  margin: 110px auto 0;
  padding: 0 45px;
}

/* style left-sidebar
-----------------------*/
.left-sidebar {
  width: 285px;
  height: auto;
}

.left-sidebar > h3 {
  font-family: "Nirmala Regular", sans-serif;
  font-size: 21.23px;
  color: #3a4752;
}

.authors, .books-of-the-year {
  margin: 20px 0 45px;
}

.authors, .authors > ul, .books-of-the-year, .books-of-the-year > ul {
  width: 95%;
  height: auto;
}

.authors > ul > li {
  width: 100%;
  height: 40px;
  margin: 10px 0;
}

.authors > ul > li:first-child, .books-of-the-year > ul > li:first-child {
  margin-top: 0;
}

.authors > ul > li:last-child, .books-of-the-year > ul > li:last-child {
  margin-bottom: 0;
}

.box-avatar {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 20px;
  -webkit-box-shadow: 0 0 30px 4px rgba(202,202,202,1);
  -moz-box-shadow: 0 0 30px 4px rgba(202,202,202,1);
  box-shadow: 0 0 30px 4px rgba(202,202,202,1);
}

.box-avatar > img {
  position: absolute;
  object-fit: cover;
  transform: translate(50% 50%);
}

.authors > ul > li > a {
  font-family: "Nirmala Regular", sans-serif;
  font-size: 16px;
  color: #3a4752;
}

.books-of-the-year > ul > li {
  width: 100%;
  height: auto;
  margin: 15px 0;
}

.books-of-the-year > ul > li > img {
  width: 50px;
  height: auto;
}

.box-title-books-of-the-year {
  width: calc(100% - 75px);
  height: auto;
  margin-left: 25px;
}

.box-title-books-of-the-year > h6 {
  font-size: 16.57px;
  color: #3a4752;
  font-family: "Nirmala Regular", sans-serif;
}

.box-title-books-of-the-year > p {
  font-size: 15.09px;
  color: #738797;
  font-family: "Nirmala Regular", sans-serif;
}

/* style right-sidebar
-----------------------*/
.right-sidebar {
  width: calc(100% - 285px);
  height: auto;
}

.block-filter {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6eaed;
  margin-bottom: 40px;
}

.block-filter > p {
  height: 60px;
  font-size: 21.86px;
  color: #3a4752;
  font-family: "Nirmala Regular", sans-serif;
}

.filter-genre {
  width: calc(100% - 170px);
  height: 60px;
}

.filter-genre > input[type="radio"] {
  display: none;
}

.filter-genre > label {
  height: calc(100% - 10px);
  font-size: 16.79px;
  color: #3a4752;
  font-family: "Nirmala Regular", sans-serif;
  margin: 8px 20px 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.filter-genre > label:first-child {
  margin-left: 0;
}

.filter-genre > label:last-child {
  margin-right: 0;
}

.filter-genre > input[type="radio"]:checked + label {
  font-size: 16.41px;
  font-family: "Nirmala Bold", sans-serif;
  border-bottom-color: #56d0e9;
}

.block-list-books, .block-list-books > ul {
  width: 100%;
  height: auto;
}

.block-list-books > ul {
  display: inline-block;
  text-align: justify;
}

.block-list-books > ul:before, .block-list-books > ul:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

.block-list-books > ul:after {
  visibility: hidden;
  overflow: hidden;
}

.block-list-books > ul > li {
  width: 455px;
  height: 310px;
  position: relative;
  display: inline-block;
  margin-bottom: 55px;
}

.block-list-books > ul > li > img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 0;
  left: 17px;
  z-index: 10;
  -webkit-box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
  box-shadow: 0 0 11px -3px rgba(0,0,0,0.75);
}

.block-info {
  width: 100%;
  height: 260px;
  background-color: #fff;
  margin-top: 50px;
  border: 1px solid #e6eaeb;
  border-top: none;
}

.box-info {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.box-info > div {
  width: calc(100% - 235px);
  height: 195px;
  margin-right: 45px;
  padding-top: 15px;
}

.box-info > div > a > h5, .slider-block-info > div > a > h5 {
  font-size: 19.74px;
  color: #3a4752;
  font-family: "Nirmala Regular", sans-serif;
}

.box-info > div > a > h5:hover, .slider-block-info > div > a > h5:hover {
  color: #df2f6c;
}

.box-info > div > a > h6, .slider-block-info > div > a > h6 {
  font-size: 15.39px;
  color: #888;
  font-family: "Nirmala Regular", sans-serif;
  font-weight: 100;
}

.box-info > div > a > h6 > span:hover, .slider-block-info > div > a > h6 > span:hover {
  color: #434343;
}

.box-info > div > div, .slider-block-info > div > div {
  width: 100%;
  height: 15px;
  margin: 15px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.box-rating, .box-rating > ul {
  width: 70px;
}

.box-rating, .box-rating > ul, .box-rating > ul > li {
  height: 13px;
}

.box-rating > ul {
  background: url("../img/icons/sprite-1.png");
  position: relative;
}

.box-rating > .rating-slider {
  background: url("../img/icons/sprite-2.png");
}

.box-rating > ul > li {
  float: left;
}

.box-rating > ul > li.current {
  z-index: 1;
}

.box-rating > ul > .active {
  width: 20%;
}

.box-rating > ul > li > span {
  position: absolute;
  z-index: 5;
  display: block;
  width: 14px;
  height: 13px;
  cursor: pointer;
}

.box-rating > ul > li > span:hover {
  left: 0;
  z-index: 2;
  background: url("../img/icons/sprite-1.png") left bottom;
}

.box-rating > .rating-slider > li > span:hover {
  background: url("../img/icons/sprite-2.png") left bottom;
}

.star-1 {
  left: 0;
}

.star-1:hover {
  width: 14px;
}

.star-2 {
  left: 15px;
}

.star-2:hover {
  width: 29px;
}

.star-3 {
  left: 30px;
}

.star-3:hover {
  width: 43px;
}

.star-4 {
  left: 44px;
}

.star-4:hover {
  width: 57px;
}

.star-5 {
  left: 58px;
}

.star-5:hover {
  width: 70px;
}

.box-info > div > div > p, .slider-block-info > div > div > p {
  margin-left: 15px;
  font-size: 15.67px;
  color: #c0c0c0;
  font-family: "Nirmala Regular", sans-serif;
}

.slider-block-info > div > a > h5, .slider-block-info > div > a > h6, .slider-block-info > div > div > p,
.slider-block-info > div > p {
  color: #fff;
}

.box-like {
  width: calc(100% - 50px);
  height: 50px;
  border-top: 1px solid #e6eaeb;
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.box-like > nav, .box-like > nav > ul {
  width: auto;
  height: 25px;
}

.box-like > nav > ul {
  display: inline-flex;
  margin-right: 10px;
}

.box-like > nav > ul > li {
  width: 25px;
  height: 25px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
}

.box-like > nav > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50% 50%);
}

.box-like > p {
  margin-left: 10px;
  font-size: 13.72px;
  color: #6d777f;
  font-family: "Nirmala Regular", sans-serif;
}

.box-like > p > a {
  color: inherit;
}

.box-like > p > a:hover {
  color: #3a4752;
}

/* style @media
----------------------------- */
@media screen and (max-width: 1300px) {
  .block-list-books > ul > li {
    width: 48%;
  }

  .block-list-books > ul > li, .block-info, .box-info, .box-info > div {
    height: auto;
  }

  .box-like {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1175px) {
  .box-info {
    display: block;
  }

  .box-info > div {
    width: calc(100% - 20px);
  }

  .box-info > div > a > h5, .box-info > div > a > h6, .box-info > div > div {
    margin-left: 190px;
  }

  .box-info > div > div {
    width: calc(100% - 190px);
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .box-info > div > div > p {
    margin: 5px 0 0;
  }

  .box-info > div > p {
    width: calc(100% - 17px);
    margin: 80px 0 0 17px
  }

  .block-filter {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .filter-genre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .filter-genre > label {
    margin: 8px 0 0;
  }
}

@media screen and (max-width: 1175px) {
  .block-list-books > ul > li {
    width: 100%;
  }

  .box-info > div > p {
    width: calc(100% - 210px);
    margin: 20px 0 0 190px;
  }

  .box-info > div > div {
    flex-direction: row;
    align-items: center;
  }

  .box-info > div > div > p {
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 850px) {
  .header-logo {
    margin-left: -50px;
  }
}

@media screen and (max-width: 800px) {
  .content-sidebar, .header-navigation {
    width: calc(100% - 30px);
    padding: 0 15px;
  }

  .content-sidebar {
    padding: 0 15px;
  }

  .content-sidebar > .wrap {
    padding: 0;
    width: 100%;
  }

  .left-sidebar {
    width: 250px;
  }

  .right-sidebar {
    width: calc(100% - 250px);
  }

  .filter-genre {
    height: auto;
  }

  .filter-genre, .filter-genre > label {
    display: inline-block;
  }

  .filter-genre > label {
    margin-right: 15px;
  }
}

@media screen and (max-width: 650px) {
  .left-sidebar {
    display: none;
  }

  .right-sidebar {
    width: 100%;
  }

  .header-logo {
    margin-left: 0;
  }

  .header-slider {
    display: none;
  }

  .header {
    height: 80px;
  }

  .content-sidebar {
    padding: 50px 15px 0;
  }
}

@media screen and (max-width: 600px) {
  .block-header-search {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    width: 170px;
    height: 100%;
  }

  .browse-category {
    border-right: none;
  }

  .header-search {
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }

  .block-header-search > img {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header-logo {
    display: none;
  }

  .header-menu {
    border-left: none;
  }

  .box-info > div > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .box-info > div > div > p {
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .box-info > div > p {
    width: calc(100% - 37px);
    margin: 70px 20px 0 17px;
  }

  .box-info > div > a > h5 {
    font-size: 15px;
  }

  .box-info > div > a > h6 {
    font-size: 12px;
  }

}